<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container-form">

  <div class="form-header">
    <%= link_to root_path do %>
        <%= image_tag "close.svg", class:"close" %>
      <% end %>
  </div>

  <div class="container-title">
    <h1>Créer une nouvelle publication</h1>
  </div>

  <div class="container-content">
      <div class="container-picture">
        <p>Choissisez votre photo ici :</P>
        <div class="container-upload">
          <%= form.file_field :image, class:"input-file form-control" %>
        </div>
      </div>

    <div class="container-body">
      <%= form.text_area :body, value: "Ecrivez une légende", class:"form-control" %>
    </div>

    <div class="submit-form">
      <%= form.submit "Partager", class:"submit" %>
    </div>
  </div>

<div>

<% end %>
